<template>
  <!-- Header -->
  <div class="relative md:pt-32 bg" style="min-height:700px;" v-bind:style="{ 'background-image': 'url(' + imageUrl + ')' }">
    <div class="px-4 md:px-10 mx-auto w-full">
      
    </div>
  </div>
</template>

<script>
// import CardStats from "@/components/Cards/CardStats.vue";

export default {
  components: {
    // CardStats,
  },
  mounted(){
    this.bgSource()
  },
  data(){
    return{
      imageUrl: ''
    }
  },
  methods:{
    bgSource(){
      let baseUrl = window.location.origin;
      if (window.location == baseUrl + '/admin/dashboard'){
        this.imageUrl = 'https://wallpapercave.com/wp/wp5390765.jpg'
      }else if (window.location == baseUrl + '/admin/sdgs/data') {
        this.imageUrl = 'https://wallpapercave.com/wp/wp5390765.jpg'
      }
      else{
        this.imageUrl = 'https://c4.wallpaperflare.com/wallpaper/391/960/943/love-wallpaper-preview.jpg'
      }
    },
  },
};
</script>
<style>
  .bg {
  /* The image used */
  /* background-image: url("https://wallpapercave.com/wp/wp5390765.jpg"); */

  /* Full height */
  height: auto;
  width: 100%;
  object-fit: cover;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  box-shadow: 0 30px 40px rgba(0,0,0,.1);

  opacity: 0.5;
  -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}
</style>
