<template>
  <div
    class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded"
  >
    <div class="rounded-t mb-0 px-4 py-3 bg-transparent">
      <div class="flex flex-wrap items-center">
        <div class="relative w-full max-w-full flex-grow flex-1">
          <h6 class="uppercase text-blueGray-400 mb-1 text-xs font-semibold">
            Data Analitik
          </h6>
          <h2 class="text-blueGray-700 text-xl font-semibold">
            Grafik Realisasi Rp dan Jumlah OB
          </h2>
        </div>
      </div>
    </div>
    <div class="p-4 flex-auto">
      <div class="relative h-350-px">
        <canvas id="dasbor-chart"></canvas>
      </div>
    </div>
  </div>
</template>
<script>
import Chart from "chart.js";
export default {
  mounted: function () {
    this.$nextTick(function () {
      let config = {
        type: "bar",
        data: {
          labels: [
            "Jan",
            "Feb",
            "Mar",
            "Apr",
            "Mei",
            "Jun",
            "Jul",
            "Agu",
            "Sep",
            "Okt",
            "Nov",
            "Des",
          ],
          datasets: [
            {
              label: 'Jumlah Jumlah Objek',
              backgroundColor: "#10B981",
              borderColor: "#10B981",
              data: [500, 650, 550, 680, 650, 780, 660, 640, 760, 670, 750, 906, 124],
              fill: false,
              type: 'bar',
              barThickness: 20
            },
            {
              label: 'Planning Anggaran',
              backgroundColor: "#FCD34B",
              borderColor: "#FCD34B",
              data: [200, 400, 402, 301, 401, 300 , 320, 501, 620, 250, 325, 523, 572],
              fill: false,
              type: 'bar',
              barThickness: 20
            },
            {
              label: 'Realisasi',
              backgroundColor: "#DF1A83",
              borderColor: "#DF1A83",
              data: [180, 308, 390, 280, 326, 290, 300, 400, 400, 240, 234, 425, 432],
              fill: false,
              type: 'bar',
              barThickness: 20
            },
          ],
        },
        options: {
          maintainAspectRatio: false,
          responsive: true,
          title: {
            display: false,
            text: "Orders Chart",
          },
          tooltips: {
            mode: "index",
            intersect: false,
          },
          hover: {
            mode: "nearest",
            intersect: true,
          },
          legend: {
            labels: {
              fontColor: "rgba(0,0,0,.4)",
            },
            align: "end",
            position: "bottom",
          },
          scales: {
            y: {
              min: 0,
              max: 50,
            },
            xAxes: [
              {
                display: true,
                scaleLabel: {
                  display: true,
                  labelString: "Month",
                },
                gridLines: {
                  borderDash: [2],
                  borderDashOffset: [2],
                  color: "rgba(33, 37, 41, 0.3)",
                  zeroLineColor: "rgba(33, 37, 41, 0.3)",
                  zeroLineBorderDash: [2],
                  zeroLineBorderDashOffset: [2],
                },
              },
            ],
            yAxes: [
              {
                display: true,
                min: 0,
                max: 50,
                scaleLabel: {
                  display: false,
                  labelString: "Value",
                },
                gridLines: {
                  borderDash: [2],
                  drawBorder: false,
                  borderDashOffset: [2],
                  color: "rgba(33, 37, 41, 0.2)",
                  zeroLineColor: "rgba(33, 37, 41, 0.15)",
                  zeroLineBorderDash: [2],
                  zeroLineBorderDashOffset: [2],
                },
              },
            ],
          },
        },
      };
      let ctx = document.getElementById("dasbor-chart").getContext("2d");
      window.myBar = new Chart(ctx, config);
    });
  },
};
</script>
