<template>
  <!-- Header -->
  
        <!-- Card stats -->
        <div class="flex flex-wrap ">
          <div class="w-full lg:w-12/12 xl:w-12/12 pb-2 px-4">
            <card-stats
              statSubtitle="Unggulan"
              statTitle="Rp.350,897,182"
              statArrow="up"
              statPercent="3.48"
              statPercentColor="text-emerald-500"
              statDescripiron="Since last month"
              statIconName="far fa-chart-bar"
              statIconColor="bg-red-500"
            />
          </div>
          <div class="w-full lg:w-12/12 xl:w-12/12 pb-2 px-4">
            <card-stats
              statSubtitle="CSV"
              statTitle="Rp.122,252,356"
              statArrow="down"
              statPercent="3.48"
              statPercentColor="text-red-500"
              statDescripiron="Since last week"
              statIconName="fas fa-chart-pie"
              statIconColor="bg-orange-500"
            />
          </div>
          <div class="w-full lg:w-12/12 xl:w-12/12 pb-2 px-4">
            <card-stats
              statSubtitle="Umum"
              statTitle="Rp,124,521,924"
              statArrow="down"
              statPercent="1.10"
              statPercentColor="text-orange-500"
              statDescripiron="Since yesterday"
              statIconName="fas fa-users"
              statIconColor="bg-pink-500"
            />
          </div>
        </div>
</template>

<script>
import CardStats from "@/components/Cards/CardStats.vue";

export default {
  components: {
    CardStats,
  },
};
</script>
