<template>
  <!-- Header -->
  
        <!-- Card stats -->
        <div class="flex flex-wrap">
          <div class="relative flex flex-col min-w-0 break-words bg-white w-full shadow-lg rounded">
            <div class="mb-4 py-4">
              <div class="w-full lg:w-12/12 xl:w-12/12 pb-2 px-4 py-4">
                <div class="relative w-full max-w-full flex-grow flex-1">
                  <h6 class="uppercase text-blueGray-400 mb-1 text-xs font-semibold">
                    Penerima Salur
                  </h6>
                  <h2 class="text-blueGray-700 text-xl font-semibold mb-4">
                    Berdasarkan Klaster
                  </h2>
                </div>
                <card-stats
                  statSubtitle="Gold"
                  statTitle="3,589"
                  statArrow="up"
                  statPercent="3.48"
                  statPercentColor="text-emerald-500"
                  statDescripiron="Since last month"
                  statIconName="fa fa-medal"
                  statIconColor="bg-yellow-500"
                />
              </div>
              <div class="w-full lg:w-12/12 xl:w-12/12 pb-2 px-4 py-4">
                <card-stats
                  statSubtitle="Silver"
                  statTitle="2,356"
                  statArrow="down"
                  statPercent="3.48"
                  statPercentColor="text-red-500"
                  statDescripiron="Since last week"
                  statIconName="fa fa-medal"
                  statIconColor="bg-gray-400"
                />
              </div>
              <div class="w-full lg:w-12/12 xl:w-12/12 pb-2 px-4 py-4">
                <card-stats
                  statSubtitle="Silver"
                  statTitle="1,950"
                  statArrow="down"
                  statPercent="3.48"
                  statPercentColor="text-red-500"
                  statDescripiron="Since last week"
                  statIconName="fa fa-medal"
                  statIconColor="bg-orange-500"
                />
              </div>
            </div>
          </div>
        </div>
</template>

<script>
import CardStats from "@/components/Cards/CardStats.vue";

export default {
  components: {
    CardStats,
  },
};
</script>
