<template>
  <div
    class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded"
  >
    <div class="rounded-t mb-0 px-4 py-3 bg-transparent">
      <div class="flex flex-wrap items-center">
        <div class="relative w-full max-w-full flex-grow flex-1">
          <h6 class="uppercase text-blueGray-400 mb-1 text-xs font-semibold">
            Grafik Ketersediaan Data
          </h6>
          <h2 class="text-blueGray-700 text-xl font-semibold">
            Grafik ini menampilkan status ketersediaan data setiap indikator SDGs berdasarkan tujuan dan pilar pembangunan
          </h2>
        </div>
      </div>
    </div>
    <div class="p-4 flex-auto">
      <div class="relative h-350-px">
        <canvas id="sdgs-chart"></canvas>
      </div>
    </div>
  </div>
</template>
<script>
import Chart from "chart.js";
export default {
  mounted: function () {
    this.$nextTick(function () {
      let config = {
        type: "bar",
        data: {
          labels: [
            "Goal 1",
            "Goal 2",
            "Goal 3",
            "Goal 4",
            "Goal 5",
            "Goal 6",
            "Goal 7",
            "Goal 8",
            "Goal 9",
            "Goal 10",
            "Goal 11",
          ],
          datasets: [
            {
              label: 'Ditampilkan',
              backgroundColor: "#10B981",
              borderColor: "#10B981",
              data: [500, 650, 550, 680, 650, 780, 660, 440, 560, 670, 750],
              fill: false,
              type: 'bar',
              barThickness: 20
            },
            {
              label: 'Tersedia',
              backgroundColor: "#FCD34B",
              borderColor: "#FCD34B",
              data: [711, 800, 600, 900, 700, 800 , 700, 501, 600, 700, 800],
              fill: false,
              type: 'bar',
              barThickness: 20
            },
            {
              label: 'Total Indikator',
              backgroundColor: "#D61C4E",
              borderColor: "#D61C4E",
              data: [1250, 1252, 1234, 1500, 1244, 1522 , 1634, 1637, 1632, 1631, 1262],
              fill: false,
              type: 'bar',
              barThickness: 20
            },
          ],
        },
        options: {
          maintainAspectRatio: false,
          responsive: true,
          title: {
            display: false,
            text: "Orders Chart",
          },
          tooltips: {
            mode: "index",
            intersect: false,
          },
          hover: {
            mode: "nearest",
            intersect: true,
          },
          legend: {
            labels: {
              fontColor: "rgba(0,0,0,.4)",
            },
            align: "end",
            position: "bottom",
          },
          scales: {
            y: {
              min: 0,
              max: 50,
            },
            xAxes: [
              {
                display: true,
                scaleLabel: {
                  display: true,
                  labelString: "Month",
                },
                gridLines: {
                  borderDash: [2],
                  borderDashOffset: [2],
                  color: "rgba(33, 37, 41, 0.3)",
                  zeroLineColor: "rgba(33, 37, 41, 0.3)",
                  zeroLineBorderDash: [2],
                  zeroLineBorderDashOffset: [2],
                },
              },
            ],
            yAxes: [
              {
                display: true,
                min: 0,
                max: 50,
                scaleLabel: {
                  display: false,
                  labelString: "Value",
                },
                gridLines: {
                  borderDash: [2],
                  drawBorder: false,
                  borderDashOffset: [2],
                  color: "rgba(33, 37, 41, 0.2)",
                  zeroLineColor: "rgba(33, 37, 41, 0.15)",
                  zeroLineBorderDash: [2],
                  zeroLineBorderDashOffset: [2],
                },
              },
            ],
          },
        },
      };
      let ctx = document.getElementById("sdgs-chart").getContext("2d");
      window.myBar = new Chart(ctx, config);
    });
  },
};
</script>
