<template>
  <div
    class="relative flex flex-col min-w-0 break-words bg-white w-full h-full mb-6 shadow-lg rounded"
  >
    <div class="rounded-t mb-0 px-4 py-3 bg-transparent">
      <div class="flex flex-wrap items-center">
        <div class="relative w-full max-w-full flex-grow flex-1">
          <h6 class="uppercase text-blueGray-400 mb-1 text-xs font-semibold">
            Penerima Salur
          </h6>
          <h2 class="text-blueGray-700 text-xl font-semibold">
            Berdasarkan Sektor
          </h2>
        </div>
      </div>
    </div>
    <div class="p-4 flex-auto">
      <div class="relative h-full w-full">
        <canvas id="sektor-chart"></canvas>
      </div>
    </div>
  </div>
</template>
<script>
import Chart from "chart.js";
export default {
  mounted: function () {
    this.$nextTick(function () {
      let config = {
        type: "pie",
        data: {
          labels: ['Pertambangan', 'Perminyakan', 'Industri Konstruksi', 'Perkebunan', 'Pertanian dan Peternakan', 'Perikanan', 'Logistik dan Transportasi Barang'],
          datasets: [
            {
              label: 'Dataset 1',
              data: [450,590,612,231,120,51,81],
              backgroundColor: ['#89CFFD', '#FBDF07', '#FF7F3F', '#F94892', '#293462', '#21E1E1', '#8CBEAA', '#8CBEAA', '#FF2E63'],
            }
          ]
        },
      };
      let ctx = document.getElementById("sektor-chart").getContext("2d");
      window.myBar = new Chart(ctx, config);
    });
  },
};
</script>
