<!--
=========================================================
* Vue Notus - v1.1.0 based on Tailwind Starter Kit by Creative Tim
=========================================================

* Product Page: https://www.creative-tim.com/product/vue-notus
* Copyright 2021 Creative Tim (https://www.creative-tim.com)
* Licensed under MIT (https://github.com/creativetimofficial/vue-notus/blob/main/LICENSE.md)

* Tailwind Starter Kit Page: https://www.creative-tim.com/learning-lab/tailwind-starter-kit/presentation

* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="shortcut icon" href="<%= BASE_URL %>favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="<%= BASE_URL %>apple-icon.png"
    />
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@3"></script>	
    <script src="https://unpkg.com/flowbite@1.5.3/dist/datepicker.js"></script>
    <title>
      TJSL Telkom
    </title>
  </head>
  <body class="text-blueGray-700 antialiased">
    <noscript>
      <strong
        >We're sorry but vue-notus doesn't work properly without JavaScript
        enabled. Please enable it to continue.</strong
      >
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <!-- <script src="../path/to/flowbite/dist/flowbite.js"></script> -->
    <!-- <script src="./TW-ELEMENTS-PATH/dist/js/index.min.js"></script> -->
    <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
  </body>
</html>
