<template>
  <div class="px-20">
    <div class="w-full xl:w-12/12 mb-12 xl:mb-0 px-1 py-1">
      <div class="relative flex flex-col min-w-0 break-words bg-white w-full shadow-lg rounded p-8 desc">
        <div class="">
          <!-- <iframe width="100%" height="300px" src="https://www.youtube.com/embed/SOOI0Mpwy5s" title="BAKTI BUMN 2022 - CHAPTER WAY KAMBAS" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
          <h2 class="text-black text-xl font-semibold pt-4">
            About
          </h2>
          <h5>
            Agenda 2030 untuk Pembangunan Berkelanjutan (the 2030 Agenda for Sustainable Development atau SDGs) adalah kesepakatan pembangunan baru yang mendorong perubahan-perubahan yang bergeser ke arah pembangunan berkelanjutan yang berdasarkan hak asasi manusia dan kesetaraan untuk mendorong pembangunan sosial, ekonomi dan lingkungan hidup. SDGs/TPB diberlakukan dengan prinsip-prinsip universal, integrasi dan inklusif untuk meyakinkan bahwa tidak akan ada seorang pun yang terlewatkan atau “No-one Left Behind”. SDGs terdiri dari 17 Tujuan dan 169 target dalam rangka melanjutkan upaya dan pencapaian Millennium Development Goals (MDGs) yang berakhir akhir pada tahun 2015 lalu.
          </h5>
        </div>
      </div>
    </div>
    <div class="w-full xl:w-12/12 mb-12 xl:mb-0 px-1 py-1">
      <div class="flex flex-wrap">
        <div class="w-full xl:w-1/9 mb-12 xl:mb-0 px-1 py-1">
          <div class="bg-indigo-300">
            <a href="/admin/sdgs/data">
              <img class="indikator-image image object-cover  w-96 ..." src="https://sdgs.bappenas.go.id/wp-content/uploads/2017/08/logo-sdgs-01.jpg">
            </a>
          </div>
        </div>
        <div class="w-full xl:w-1/9 mb-12 xl:mb-0 px-1 py-1">
          <div class="bg-indigo-300">
            <a href="/admin/sdgs/data">
              <img class="indikator-image image object-cover  w-96 ..." src="https://sdgs.bappenas.go.id/wp-content/uploads/2017/08/logo-sdgs-02.jpg">
            </a>
          </div>
        </div>
        <div class="w-full xl:w-1/9 mb-12 xl:mb-0 px-1 py-1">
          <div class="bg-indigo-300">
            <a href="/admin/sdgs/data">
              <img class="indikator-image image object-cover  w-96 ..." src="https://sdgs.bappenas.go.id/wp-content/uploads/2017/08/logo-sdgs-03.jpg">
            </a>
          </div>
        </div>
        <div class="w-full xl:w-1/9 mb-12 xl:mb-0 px-1 py-1">
          <div class="bg-indigo-300">
            <a href="/admin/sdgs/data">
              <img class="indikator-image image object-cover  w-96 ..." src="https://sdgs.bappenas.go.id/wp-content/uploads/2017/08/logo-sdgs-04.jpg">
            </a>
          </div>
        </div>
        <div class="w-full xl:w-1/9 mb-12 xl:mb-0 px-1 py-1">
          <div class="bg-white container">
            <a href="javascript:void(0)">
              <img class="image-disable image object-cover  w-96 ..." src="https://sdgs.bappenas.go.id/wp-content/uploads/2017/08/logo-sdgs-05.jpg">
            </a>
            <div class="overlay">
              <div class="text text-black text-xl font-semibold py-4">
                <a href="javascript:void(0)">
                  Data tidak tersedia
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full xl:w-1/9 mb-12 xl:mb-0 px-1 py-1">
          <div class="bg-indigo-300">
            <a href="/admin/sdgs/data">
              <img class="indikator-image image object-cover  w-96 ..." src="https://sdgs.bappenas.go.id/wp-content/uploads/2017/08/logo-sdgs-06.jpg">
            </a>
          </div>
        </div>
        <div class="w-full xl:w-1/9 mb-12 xl:mb-0 px-1 py-1">
          <div class="bg-indigo-300">
            <a href="/admin/sdgs/data">
              <img class="indikator-image image object-cover  w-96 ..." src="https://sdgs.bappenas.go.id/wp-content/uploads/2017/08/logo-sdgs-07.jpg">
            </a>
          </div>
        </div>
        <div class="w-full xl:w-1/9 mb-12 xl:mb-0 px-1 py-1">
          <div class="bg-indigo-300">
            <a href="/admin/sdgs/tpb8">
              <img class="indikator-image image object-cover  w-96 ..." src="https://sdgs.bappenas.go.id/wp-content/uploads/2017/08/logo-sdgs-08.jpg">
            </a>
          </div>
        </div>
        <div class="w-full xl:w-1/9 mb-12 xl:mb-0 px-1 py-1">
          <div class="bg-indigo-300">
            <a href="/admin/sdgs/data">
              <img class="indikator-image image object-cover  w-96 ..." src="https://sdgs.bappenas.go.id/wp-content/uploads/2017/08/logo-sdgs-09.jpg">
            </a>
          </div>
        </div>
        <div class="w-full xl:w-1/9 mb-12 xl:mb-0 px-1 py-1">
          <div class="bg-indigo-300">
            <a href="/admin/sdgs/data">
              <img class="indikator-image image object-cover  w-96 ..." src="https://sdgs.bappenas.go.id/wp-content/uploads/2017/08/logo-sdgs-10.jpg">
            </a>
          </div>
        </div>
        <div class="w-full xl:w-1/9 mb-12 xl:mb-0 px-1 py-1">
          <div class="bg-indigo-300">
            <a href="/admin/sdgs/data">
              <img class="indikator-image image object-cover  w-96 ..." src="https://sdgs.bappenas.go.id/wp-content/uploads/2017/08/logo-sdgs-11.jpg">
            </a>
          </div>
        </div>
        <div class="w-full xl:w-1/9 mb-12 xl:mb-0 px-1 py-1">
          <div class="bg-indigo-300">
            <a href="/admin/sdgs/data">
              <img class="indikator-image image object-cover  w-96 ..." src="https://sdgs.bappenas.go.id/wp-content/uploads/2017/08/logo-sdgs-12.jpg">
            </a>
          </div>
        </div>
        <div class="w-full xl:w-1/9 mb-12 xl:mb-0 px-1 py-1">
          <div class="bg-white container">
            <a href="javascript:void(0)">
              <img class="image-disable image object-cover  w-96 ..." src="https://sdgs.bappenas.go.id/wp-content/uploads/2017/08/logo-sdgs-13.jpg">
            </a>
            <div class="overlay">
              <div class="text text-black text-xl font-semibold py-4">
                <a href="javascript:void(0)">
                  Data tidak tersedia
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full xl:w-1/9 mb-12 xl:mb-0 px-1 py-1">
          <div class="bg-indigo-300">
            <a href="/admin/sdgs/data">
              <img class="indikator-image image object-cover  w-96 ..." src="https://sdgs.bappenas.go.id/wp-content/uploads/2017/08/logo-sdgs-14.jpg">
            </a>
          </div>
        </div>
        <div class="w-full xl:w-1/9 mb-12 xl:mb-0 px-1 py-1">
          <div class="bg-indigo-300">
            <a href="/admin/sdgs/data">
              <img class="indikator-image image object-cover  w-96 ..." src="https://sdgs.bappenas.go.id/wp-content/uploads/2017/08/logo-sdgs-15.jpg">
            </a>
          </div>
        </div>
        <div class="w-full xl:w-1/9 mb-12 xl:mb-0 px-1 py-1">
          <div class="bg-indigo-300">
            <a href="/admin/sdgs/data">
              <img class="indikator-image image object-cover  w-96 ..." src="https://sdgs.bappenas.go.id/wp-content/uploads/2017/08/logo-sdgs-16.jpg">
            </a>
          </div>
        </div>
        <div class="w-full xl:w-1/9 mb-12 xl:mb-0 px-1 py-1">
          <div class="bg-indigo-300">
            <a href="/admin/sdgs/data">
              <img class="indikator-image image object-cover  w-96 ..." src="https://sdgs.bappenas.go.id/wp-content/uploads/2017/08/logo-sdgs-17.jpg">
            </a>
          </div>
        </div>
        <div class="w-full h-full xl:w-1/9 mb-12 xl:mb-0 px-1 py-1">
          <div class="bg-white">
            <a href="/admin/sdgs/data">
              <img class="indikator-image image object-cover  w-96 ..." src="https://sdgs.bappenas.go.id/wp-content/uploads/2020/07/TPB-Logo.jpg">
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="flex flex-wrap px-20">
      <div class="w-full xl:w-2/12 mb-12 xl:mb-0 px-1 py-1">
        <div class="bg-indigo-300">
          <a href="/admin/sdgs/data">
            <img class="indikator-image image object-cover  w-96 ..." src="https://sdgs.bappenas.go.id/wp-content/uploads/2017/08/logo-sdgs-01.jpg">
          </a>
        </div>
      </div>
      <div class="w-full xl:w-2/12 mb-12 xl:mb-0 px-1 py-1">
        <div class="bg-indigo-300">
          <a href="/admin/sdgs/data">
            <img class="indikator-image image object-cover  w-96 ..." src="https://sdgs.bappenas.go.id/wp-content/uploads/2017/08/logo-sdgs-02.jpg">
          </a>
        </div>
      </div>
      <div class="w-full xl:w-2/12 mb-12 xl:mb-0 px-1 py-1">
        <div class="bg-indigo-300">
          <a href="/admin/sdgs/data">
            <img class="indikator-image image object-cover  w-96 ..." src="https://sdgs.bappenas.go.id/wp-content/uploads/2017/08/logo-sdgs-03.jpg">
          </a>
        </div>
      </div>
      <div class="w-full xl:w-2/12 mb-12 xl:mb-0 px-1 py-1">
        <div class="bg-indigo-300">
          <a href="/admin/sdgs/data">
            <img class="indikator-image image object-cover  w-96 ..." src="https://sdgs.bappenas.go.id/wp-content/uploads/2017/08/logo-sdgs-04.jpg">
          </a>
        </div>
      </div>
      <div class="w-full xl:w-2/12 mb-12 xl:mb-0 px-1 py-1">
        <div class="bg-white container">
          <a href="javascript:void(0)">
            <img class="image-disable image object-cover  w-96 ..." src="https://sdgs.bappenas.go.id/wp-content/uploads/2017/08/logo-sdgs-05.jpg">
          </a>
          <div class="overlay">
            <div class="text text-black text-xl font-semibold py-4">
              <a href="javascript:void(0)">
                Data tidak tersedia
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full xl:w-2/12 mb-12 xl:mb-0 px-1 py-1">
        <div class="bg-indigo-300">
          <a href="/admin/sdgs/data">
            <img class="indikator-image image object-cover  w-96 ..." src="https://sdgs.bappenas.go.id/wp-content/uploads/2017/08/logo-sdgs-06.jpg">
          </a>
        </div>
      </div>
      <div class="w-full xl:w-2/12 mb-12 xl:mb-0 px-1 py-1">
        <div class="bg-indigo-300">
          <a href="/admin/sdgs/data">
            <img class="indikator-image image object-cover  w-96 ..." src="https://sdgs.bappenas.go.id/wp-content/uploads/2017/08/logo-sdgs-07.jpg">
          </a>
        </div>
      </div>
      <div class="w-full xl:w-2/12 mb-12 xl:mb-0 px-1 py-1">
        <div class="bg-indigo-300">
          <a href="/admin/sdgs/data">
            <img class="indikator-image image object-cover  w-96 ..." src="https://sdgs.bappenas.go.id/wp-content/uploads/2017/08/logo-sdgs-08.jpg">
          </a>
        </div>
      </div>
      <div class="w-full xl:w-2/12 mb-12 xl:mb-0 px-1 py-1">
        <div class="bg-indigo-300">
          <a href="/admin/sdgs/data">
            <img class="indikator-image image object-cover  w-96 ..." src="https://sdgs.bappenas.go.id/wp-content/uploads/2017/08/logo-sdgs-09.jpg">
          </a>
        </div>
      </div>
      <div class="w-full xl:w-2/12 mb-12 xl:mb-0 px-1 py-1">
        <div class="bg-indigo-300">
          <a href="/admin/sdgs/data">
            <img class="indikator-image image object-cover  w-96 ..." src="https://sdgs.bappenas.go.id/wp-content/uploads/2017/08/logo-sdgs-10.jpg">
          </a>
        </div>
      </div>
      <div class="w-full xl:w-2/12 mb-12 xl:mb-0 px-1 py-1">
        <div class="bg-indigo-300">
          <a href="/admin/sdgs/data">
            <img class="indikator-image image object-cover  w-96 ..." src="https://sdgs.bappenas.go.id/wp-content/uploads/2017/08/logo-sdgs-11.jpg">
          </a>
        </div>
      </div>
      <div class="w-full xl:w-2/12 mb-12 xl:mb-0 px-1 py-1">
        <div class="bg-indigo-300">
          <a href="/admin/sdgs/data">
            <img class="indikator-image image object-cover  w-96 ..." src="https://sdgs.bappenas.go.id/wp-content/uploads/2017/08/logo-sdgs-12.jpg">
          </a>
        </div>
      </div>
      <div class="w-full xl:w-2/12 mb-12 xl:mb-0 px-1 py-1">
        <div class="bg-white container">
          <a href="javascript:void(0)">
            <img class="image-disable image object-cover  w-96 ..." src="https://sdgs.bappenas.go.id/wp-content/uploads/2017/08/logo-sdgs-13.jpg">
          </a>
          <div class="overlay">
            <div class="text text-black text-xl font-semibold py-4">
              <a href="javascript:void(0)">
                Data tidak tersedia
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full xl:w-2/12 mb-12 xl:mb-0 px-1 py-1">
        <div class="bg-indigo-300">
          <a href="/admin/sdgs/data">
            <img class="indikator-image image object-cover  w-96 ..." src="https://sdgs.bappenas.go.id/wp-content/uploads/2017/08/logo-sdgs-14.jpg">
          </a>
        </div>
      </div>
      <div class="w-full xl:w-2/12 mb-12 xl:mb-0 px-1 py-1">
        <div class="bg-indigo-300">
          <a href="/admin/sdgs/data">
            <img class="indikator-image image object-cover  w-96 ..." src="https://sdgs.bappenas.go.id/wp-content/uploads/2017/08/logo-sdgs-15.jpg">
          </a>
        </div>
      </div>
      <div class="w-full xl:w-2/12 mb-12 xl:mb-0 px-1 py-1">
        <div class="bg-indigo-300">
          <a href="/admin/sdgs/data">
            <img class="indikator-image image object-cover  w-96 ..." src="https://sdgs.bappenas.go.id/wp-content/uploads/2017/08/logo-sdgs-16.jpg">
          </a>
        </div>
      </div>
      <div class="w-full xl:w-2/12 mb-12 xl:mb-0 px-1 py-1">
        <div class="bg-indigo-300">
          <a href="/admin/sdgs/data">
            <img class="indikator-image image object-cover  w-96 ..." src="https://sdgs.bappenas.go.id/wp-content/uploads/2017/08/logo-sdgs-17.jpg">
          </a>
        </div>
      </div>
      <div class="w-full h-full xl:w-2/12 mb-12 xl:mb-0 px-1 py-1">
        <div class="bg-white">
          <a href="/admin/sdgs/data">
            <img class="indikator-image image object-cover  w-96 ..." src="https://sdgs.bappenas.go.id/wp-content/uploads/2020/07/TPB-Logo.jpg">
          </a>
        </div>
      </div>
    </div> -->
  </div>
</template>
<script>
export default {
  name: "dashboard-page",
  components: {
  },
  data(){
    return{
      indikator:{
        
      }
    }
  }
};
</script>
<style>
  .desc{
    background-color: rgba(255, 255, 255, 0.5);    
  }
  .indikator-image:hover{
    filter:brightness(110%);
  }
  .container {
  position: relative;
  width: 100%;
  }

  .image-disable {
    display: block;
    width: 100%;
    height: auto;
    filter: grayscale(100%);
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: white;
  }

  .container:hover .overlay {
    opacity: 0.8;
  }

  .text {
    color: fff;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
</style>
