<template>
  <div>
    <div class="flex mb-4 py-8 w-full mb-6 rounded-lg border-gray-200 dark:border-gray-700 justify-between" style="background-color:#C12033">
      <div class="flex mx-8">
        <div class="p-4 m-8 xl:w-8/12">
          <h2 class="text-white text-xl font-semibold px-4 py-2">
            2. Pendidikan Berkualitas
          </h2>
          <h2 class="text-white xl:w-8/12 text-lg px-4 py-2">
            Menjamin Kualitas Pendidikan yang Inklusif dan Merata serta Meningkatkan Kesempatan Belajar Sepanjang Hayat untuk Semua
          </h2>
        </div>
        <div class="w-full xl:w-2/12 m-8 mb-12 xl:mb-0 ">
          <img src="@/assets/img/tpb-icon-png/4.png" alt="">
          <div class="flex flex-wrap justify-between mt-8">
            <button type="button" class="text-white bg-transparent border border-white focus:outline-none hover:bg-gray-600 focus:ring-1 focus:ring-gray-200 font-medium rounded-lg text-sm dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 p-2 dark:focus:ring-gray-700">
              <i class="fa fa-arrow-left" aria-hidden="true"></i>
          </button>
            <button type="button" class="text-white bg-transparent border border-white focus:outline-none hover:bg-gray-600 focus:ring-1 focus:ring-gray-200 font-medium rounded-lg text-sm dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 p-2 dark:focus:ring-gray-700">
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="flex mb-4 w-full mb-6 bg-white rounded-lg border-gray-200 dark:border-gray-700">
      <div class="w-full xl:w-2/12 mb-12 xl:mb-0 px-1 py-1">
        <div class="bg-white-300">
          <a href="/admin/sdgs/data">
            <img class="indikator-image image object-cover  w-96 ..." src="https://sdgs.bappenas.go.id/wp-content/uploads/2017/08/logo-sdgs-02.jpg">
          </a>
        </div>
      </div>
      <div class="w-full xl:w-8/12 mb-12 xl:mb-0 px-1 py-1">
        <h1 class="text-black text-xl font-semibold py-1">
         <span class="text-emerald-600"> PILAR </span> : Sosial
        </h1>
        <h1 class="text-black text-md font-semibold py-1">
          <span class="text-emerald-600"> Goal 2 </span> : Tanpa Kelaparan 
        </h1>
        <h1 class="text-black text-md font-semibold py-1">
          <span class="text-emerald-600"> Target 2 </span> : Pada tahun 2030, menghilangkan kelaparan dan menjamin akses bagi semua orang, khususnya orang miskin dan mereka yang berada dalam kondisi rentan, termasuk bayi, terhadap makanan yang aman, bergizi, dan cukup sepanjang tahun.
        </h1>
        <h1 class="text-black text-md font-semibold py-1">
          <span class="text-emerald-600"> Indikator 2.1.2 </span>: Prevalensi penduduk dengan kerawanan pangan sedang atau berat, berdasarkan pada Skala Pengalaman Kerawanan Pangan.
        </h1>
      </div>
    </div> -->
    <div class="mb-4 bg-white rounded-lg border-gray-200 dark:border-gray-700" style="width:100%">
        <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="myTab" data-tabs-toggle="#myTabContent" role="tablist">
            <li class="mr-2" role="presentation">
                <button class="inline-block p-4 rounded-t-lg text-emerald-600 hover:text-emerald-600 dark:text-emerald-500 dark:hover:text-emerald-500 border-emerald-600 dark:border-emerald-500" id="sekilas-tab" data-tabs-target="#sekilas" type="button" role="tab" aria-controls="sekilas" aria-selected="true">Sekilas Tentang</button>
            </li>
            <li class="mr-2" role="presentation">
                <button class="inline-block p-4 rounded-t-lg text-emerald-600 hover:text-emerald-600 dark:text-emerald-500 dark:hover:text-emerald-500 border-emerald-600 dark:border-emerald-500" id="indikator-tab" data-tabs-target="#indikator" type="button" role="tab" aria-controls="indikator" aria-selected="false">Indikator SDGs</button>
            </li>
            <li class="mr-2" role="presentation">
                <button class="inline-block p-4 rounded-t-lg border-transparent hover:text-emerald-600 hover:border-emerald-300 dark:hover:text-emerald-300 dark:border-transparent text-emerald-500 dark:text-emerald-400 border-emerald-100 dark:border-emerald-700" id="ketersediaan-data-tab" data-tabs-target="#ketersediaan-data" type="button" role="tab" aria-controls="ketersediaan-data" aria-selected="false">Ketersediaan Data</button>
            </li>
            <li class="mr-2" role="presentation">
                <button class="inline-block p-4 rounded-t-lg border-transparent hover:text-emerald-600 hover:border-emerald-300 dark:hover:text-emerald-300 dark:border-transparent text-emerald-500 dark:text-emerald-400 border-emerald-100 dark:border-emerald-700" id="dasbor-analitik-tab" data-tabs-target="#dasbor-analitik" type="button" role="tab" aria-controls="dasbor-analitik" aria-selected="false">Dasbor Analitik</button>
            </li>
            <!-- <li class="mr-2" role="presentation">
                <button class="inline-block p-4 rounded-t-lg border-transparent hover:text-emerald-600 hover:border-emerald-300 dark:hover:text-emerald-300 dark:border-transparent text-emerald-500 dark:text-emerald-400 border-emerald-100 dark:border-emerald-700" id="data-penerima-manfaat-tab" data-tabs-target="#data-penerima-manfaat" type="button" role="tab" aria-controls="data-penerima-manfaat" aria-selected="false">Data Penerima Manfaat</button>
            </li> -->
        </ul>
    </div>
    <div id="myTabContent" class="mt-6">
      <div class="p-4 bg-gray-50 rounded-lg dark:bg-gray-800" id="sekilas" role="tabpanel" aria-labelledby="sekilas-tab">
        <iframe allowfullscreen="allowfullscreen" scrolling="no" class="fp-iframe" style="border: 1px solid lightgray; width: 100%; height: 600px;" src="https://heyzine.com/flip-book/6a03d79852.html"></iframe>  
      </div>
      <div class="p-4 bg-gray-50 rounded-lg dark:bg-gray-800" id="indikator" role="tabpanel" aria-labelledby="indikator-tab">
        <div class="flex flex-warp">
          <div class="w-full xl:w-4/12 mb-12 xl:mb-0 px-4">
            <h2 class="text-black text-xl font-semibold py-4">
              Indikator
            </h2>
            <select class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
              <option>2.1.1 Prevalensi Ketidakcukupan Konsumsi Pangan (Prevalence of Undernourishment)</option>
              <option>2.1.2 Prevalensi penduduk dengan kerawanan pangan sedang atau berat, berdasarkan pada Skala Pengalaman Kerawanan Pangan.</option>
            </select>
          </div>
          <div class="w-full xl:w-4/12 mb-12 xl:mb-0 px-4">
            <h2 class="text-black text-xl font-semibold py-4">
              Tahun Data
            </h2>
            <select class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
              <option>2015</option>
              <option>2016</option>
              <option>2017</option>
              <option>2018</option>
              <option>2019</option>
              <option>2020</option>
              <option>2021</option>
              <option>2022</option>
            </select>
          </div>
        </div>
        <div class="flex flex-wrap">
          <div class="w-full xl:w-12/12 mb-12 xl:mb-0 py-4 px-4">
            <div class="relative flex flex-col min-w-0 break-words bg-white w-full shadow-lg rounded">
              <img :src="image" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class=" w-full hidden p-4 bg-gray-50 rounded-lg dark:bg-gray-800" id="ketersediaan-data" role="tabpanel" aria-labelledby="ketersediaan-data-tab">
        <div class="flex flex-warp">
          <div class="w-full xl:w-8/12 mb-12 xl:mb-0 px-4">
            <h2 class="text-black text-xl font-semibold py-4">
              Disagregasi
            </h2>
            <select class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
              <option>All</option>
              <option>Nasional</option>
              <option>Provinsi</option>
              <option>Kabupaten</option>
            </select>
          </div>
          <div class="w-full xl:w-4/12 mb-12 xl:mb-0 px-4">
            <h2 class="text-black text-xl font-semibold py-4">
              Sumber
            </h2>
            <select class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
              <option>All</option>
              <option>BPJS</option>
              <option>K/L</option>
            </select>
          </div>
          <div class="w-full xl:w-4/12 mb-12 xl:mb-0 px-4">
            <h2 class="text-black text-xl font-semibold py-4">
              Pilar
            </h2>
            <select class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
              <option>All</option>
              <option>Sosial</option>
              <option>Lingkungan</option>
              <option>Ekonomi</option>
              <option>Hukum dan Tata Kelola</option>
            </select>
          </div>
        </div>
        <div class="flex flex-wrap">
          <div class="w-full xl:w-12/12 mb-12 xl:mb-0 py-4 px-4">
            <sdgs />
          </div>
        </div>
        
        <div class="flex flex-wrap">
          <div class="w-full xl:w-12/12 mb-12 xl:mb-0 px-4">
            <div class="relative flex flex-col min-w-0 break-words bg-white w-full shadow-lg rounded">
              <img :src="image" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="hidden p-4 bg-gray-50 rounded-lg dark:bg-gray-800" id="dasbor-analitik" role="tabpanel" aria-labelledby="dasbor-analitik-tab">
        <div id="content">
          <div>
            <div class="flex flex-warp">
              <div class="w-full xl:w-8/12 mb-12 xl:mb-0 px-4">
                <h2 class="text-black text-xl font-semibold py-4">
                  Target
                </h2>
                <select class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
                  <option>All</option>
                  <option>1.2 Pada Tahun 2030, mengurangi setidaknya setengah proporsi laki laki, perempuan, dan anak anak dari semua usia yang hidup dalam kemiskinan di semua dimensi, sesuai dengan definisi nasional</option>
                  <option>1.4 Pada Tahun 2030, Pada tahun 2030, menjamin bahwa semua laki-laki dan perempuan, khususnya masyarakat miskin dan rentan, memiliki hak yang sama terhadap sumber daya ekonomi, serta akses terhadap pelayanan dasar, kepemilikan dan kontrol atas tanah dan bentuk kepemilikan lain, warisan, sumber daya alam, teknologi baru, dan jasa keuangan yang tepat, termasuk keuangan mikro.</option>
                </select>
              </div>
              <div class="w-full xl:w-4/12 mb-12 xl:mb-0 px-4">
                <h2 class="text-black text-xl font-semibold py-4">
                  Indikator
                </h2>
                <select class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
                  <option>All</option>
                  <option>1.2.1 Tanpa Kemiskinan</option>
                  <option>2.4 Tanpa Kelaparan</option>
                </select>
              </div>
            </div>
            <div class="flex flex-warp">
              <div class="w-full xl:w-3/12 mb-12 xl:mb-0 px-4">
                <div class="mt-8">
                  <h5>
                    From
                  </h5>
                </div>
                <h2 class="text-black text-xl font-semibold py-4">
                  Tahun
                </h2>
                <select class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
                  <option>2015</option>
                  <option>2016</option>
                  <option>2017</option>
                  <option>2018</option>
                  <option>2019</option>
                  <option>2020</option>
                  <option>2021</option>
                  <option>2022</option>
                </select>
              </div>
              <div class="w-full xl:w-3/12 mb-12 xl:mb-0 px-4">
                <div class="mt-8">
                  <h5>
                    &nbsp;
                  </h5>
                </div>
                <h2 class="text-black text-xl font-semibold py-4">
                  Bulan
                </h2>
                <select class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
                  <option>Jan</option>
                  <option>Feb</option>
                  <option>Mar</option>
                  <option>Apr</option>
                  <option>Mei</option>
                  <option>Jun</option>
                  <option>Jul</option>
                  <option>Agu</option>
                  <option>Sep</option>
                  <option>Okt</option>
                  <option>Nov</option>
                  <option>Des</option>
                </select>
              </div>
              <div class="w-full xl:w-3/12 mb-12 xl:mb-0 px-4">
                <div class="mt-8">
                  <h5>
                    To
                  </h5>
                </div>
                <h2 class="text-black text-xl font-semibold py-4">
                  Tahun
                </h2>
                <select class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
                  <option>2015</option>
                  <option>2016</option>
                  <option>2017</option>
                  <option>2018</option>
                  <option>2019</option>
                  <option>2020</option>
                  <option>2021</option>
                  <option>2022</option>
                </select>
              </div>
              <div class="w-full xl:w-3/12 mb-12 xl:mb-0 px-4">
                <div class="mt-8">
                  <h5>
                    &nbsp;
                  </h5>
                </div>
                <h2 class="text-black text-xl font-semibold py-4">
                  Bulan
                </h2>
                <select class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
                  <option>Jan</option>
                  <option>Feb</option>
                  <option>Mar</option>
                  <option>Apr</option>
                  <option>Mei</option>
                  <option>Jun</option>
                  <option>Jul</option>
                  <option>Agu</option>
                  <option>Sep</option>
                  <option>Okt</option>
                  <option>Nov</option>
                  <option>Des</option>
                </select>
              </div>
            </div>
            <div class="flex flex-warp pt-6 mt-6">
              <div class="w-full xl:w-8/12 mb-12 xl:mb-0 px-4">
                <dasbor-analitik-chart />
              </div>
              <div class="w-full xl:w-4/12 mb-12 xl:mb-0 px-4">
                <dasbor-analitik-icon-chart />
              </div>
            </div>
            <div class="flex flex-wrap">
              <div class="w-full xl:w-12/12 mb-12 xl:mb-0 px-4 py-4">
                <div class="relative flex flex-col min-w-0 break-words bg-white w-full shadow-lg rounded">
                  <img :src="image" alt="">
                </div>
              </div>
            </div>
            <div class="w-full xl:w-1/5 mb-12 xl:mb-0 px-4 py-4">
              <h2 class="text-black text-xl font-semibold py-4">
                Regional
              </h2>
              <div class="flex flex-warp">
              <select class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
                <option>All</option>
                <option>Jawa</option>
                <option>Kalimantan</option>
                <option>Aceh</option>
                <option>Papua</option>
                <option>Sulawesi</option>
                <option>NTB</option>
                <option>NTT</option>
                <option>Bali</option>
              </select>
              <button type="button" style="width:150px" class="text-white bg-blue-500 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg mx-2 text-sm dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Cari</button>
              </div>

            </div>
            <div class="w-full xl:w-12/12 mb-12 xl:mb-0 px-4">
              
              <div class="overflow-x-auto relative rounded-lg shadow-lg">
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                  <thead class="bg-lightBlue-400 text-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <tr>
                      <th scope="col" rowspan="2" class="py-3 px-6 text-center">
                        No.
                      </th>
                      <th scope="col" rowspan="2" class="py-3 px-6 text-center">
                        Nama Penerima
                      </th>
                      <th scope="col" colspan="4" class="py-3 px-6 text-center">
                        Jenis Bantuan
                      </th>
                      <th scope="col" rowspan="2" class="py-3 px-6 text-center">
                        Jumlah Penerima Manfaat
                      </th>
                      <th scope="col" rowspan="2" class="py-3 px-6 text-center">
                        Jumlah Bantuan
                      </th>
                    </tr>
                    <tr class="text-center">
                        <th scope="col" class="py-3 px-6">
                            Sumur Bor
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Tower
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Torn Air
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Pipanasi
                        </th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <td class="py-4 px-6 text-center">
                            1
                        </td>
                        <td class="hover:text-emerald-600 py-4 px-6 text-center">
                            <a href="#" v-on:click="ShowDetail">
                              Yayasan Miftahul Huda Al-Azhar
                            </a> 
                        </td>
                        <td class="py-4 px-6 text-center">
                            1
                        </td>
                        <td class="py-4 px-6 text-center">
                            1
                        </td>
                        <td class="py-4 px-6 text-center">
                            1
                        </td>
                        <td class="py-4 px-6 text-center">
                            1
                        </td>
                        <td class="py-4 px-6 text-center">
                            2281 jiwa
                        </td>
                        <td class="py-4 px-6 text-center">
                            Rp 130,000,000
                        </td>
                      </tr>
                      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <td class="py-4 px-6 text-center">
                            2
                        </td>
                        <td class="hover:text-emerald-600 py-4 px-6 text-center">
                            <a href="#" v-on:click="ShowDetail">
                              Yayasan Al Istiqomah
                            </a> 
                        </td>
                        <td class="py-4 px-6 text-center">
                            2
                        </td>
                        <td class="py-4 px-6 text-center">
                            2
                        </td>
                        <td class="py-4 px-6 text-center">
                            2
                        </td>
                        <td class="py-4 px-6 text-center">
                            2
                        </td>
                        <td class="py-4 px-6 text-center">
                            450 jiwa
                        </td>
                        <td class="py-4 px-6 text-center">
                            Rp 116,000,000
                        </td>
                      </tr>
                      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <td class="py-4 px-6 text-center">
                            3
                        </td>
                        <td class="hover:text-emerald-600 py-4 px-6 text-center">
                            <a href="#" v-on:click="ShowDetail">
                              Yayasan Daarul Ma'arif
                            </a> 
                        </td>
                        <td class="py-4 px-6 text-center">
                            1
                        </td>
                        <td class="py-4 px-6 text-center">
                            3
                        </td>
                        <td class="py-4 px-6 text-center">
                            1
                        </td>
                        <td class="py-4 px-6 text-center">
                            3
                        </td>
                        <td class="py-4 px-6 text-center">
                            1211 jiwa
                        </td>
                        <td class="py-4 px-6 text-center">
                            Rp 120,000,000
                        </td>
                      </tr>
                      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <td class="py-4 px-6 text-center">
                            4
                        </td>
                        <td class="hover:text-emerald-600 py-4 px-6 text-center">
                            <a href="#" v-on:click="ShowDetail">
                              Yayasan Miftahul Huda Al-Azhar
                            </a> 
                        </td>
                        <td class="py-4 px-6 text-center">
                            1
                        </td>
                        <td class="py-4 px-6 text-center">
                            1
                        </td>
                        <td class="py-4 px-6 text-center">
                            1
                        </td>
                        <td class="py-4 px-6 text-center">
                            1
                        </td>
                        <td class="py-4 px-6 text-center">
                            2281 jiwa
                        </td>
                        <td class="py-4 px-6 text-center">
                            Rp 130,000,000
                        </td>
                      </tr>
                      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <td class="py-4 px-6 text-center">
                            5
                        </td>
                        <td class="hover:text-emerald-600 py-4 px-6 text-center">
                            <a href="#" v-on:click="ShowDetail">
                              Yayasan Al Istiqomah
                            </a> 
                        </td>
                        <td class="py-4 px-6 text-center">
                            2
                        </td>
                        <td class="py-4 px-6 text-center">
                            2
                        </td>
                        <td class="py-4 px-6 text-center">
                            2
                        </td>
                        <td class="py-4 px-6 text-center">
                            2
                        </td>
                        <td class="py-4 px-6 text-center">
                            450 jiwa
                        </td>
                        <td class="py-4 px-6 text-center">
                            Rp 116,000,000
                        </td>
                      </tr>
                      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <td class="py-4 px-6 text-center">
                            6
                        </td>
                        <td class="hover:text-emerald-600 py-4 px-6 text-center">
                            <a href="#" v-on:click="ShowDetail">
                              Yayasan Daarul Ma'arif
                            </a> 
                        </td>
                        <td class="py-4 px-6 text-center">
                            1
                        </td>
                        <td class="py-4 px-6 text-center">
                            3
                        </td>
                        <td class="py-4 px-6 text-center">
                            1
                        </td>
                        <td class="py-4 px-6 text-center">
                            3
                        </td>
                        <td class="py-4 px-6 text-center">
                            1211 jiwa
                        </td>
                        <td class="py-4 px-6 text-center">
                            Rp 120,000,000
                        </td>
                      </tr>
                      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <td class="py-4 px-6 text-center">
                            7
                        </td>
                        <td class="hover:text-emerald-600 py-4 px-6 text-center">
                            <a href="#" v-on:click="ShowDetail">
                              Yayasan Miftahul Huda Al-Azhar
                            </a> 
                        </td>
                        <td class="py-4 px-6 text-center">
                            1
                        </td>
                        <td class="py-4 px-6 text-center">
                            1
                        </td>
                        <td class="py-4 px-6 text-center">
                            1
                        </td>
                        <td class="py-4 px-6 text-center">
                            1
                        </td>
                        <td class="py-4 px-6 text-center">
                            2281 jiwa
                        </td>
                        <td class="py-4 px-6 text-center">
                            Rp 130,000,000
                        </td>
                      </tr>
                      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <td class="py-4 px-6 text-center">
                            8
                        </td>
                        <td class="hover:text-emerald-600 py-4 px-6 text-center">
                            <a href="#" v-on:click="ShowDetail">
                              Yayasan Al Istiqomah
                            </a> 
                        </td>
                        <td class="py-4 px-6 text-center">
                            2
                        </td>
                        <td class="py-4 px-6 text-center">
                            2
                        </td>
                        <td class="py-4 px-6 text-center">
                            2
                        </td>
                        <td class="py-4 px-6 text-center">
                            2
                        </td>
                        <td class="py-4 px-6 text-center">
                            450 jiwa
                        </td>
                        <td class="py-4 px-6 text-center">
                            Rp 116,000,000
                        </td>
                      </tr>
                      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <td class="py-4 px-6 text-center">
                            9
                        </td>
                        <td class="hover:text-emerald-600 py-4 px-6 text-center">
                            <a href="#" v-on:click="ShowDetail">
                              Yayasan Daarul Ma'arif
                            </a> 
                        </td>
                        <td class="py-4 px-6 text-center">
                            1
                        </td>
                        <td class="py-4 px-6 text-center">
                            3
                        </td>
                        <td class="py-4 px-6 text-center">
                            1
                        </td>
                        <td class="py-4 px-6 text-center">
                            3
                        </td>
                        <td class="py-4 px-6 text-center">
                            1211 jiwa
                        </td>
                        <td class="py-4 px-6 text-center">
                            Rp 120,000,000
                        </td>
                      </tr>
                  </tbody>
                  <tfoot class="bg-lightBlue-400 text-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <tr>
                      <th scope="col" colspan="2" class="py-3 px-6 text-center">
                        Total
                      </th>
                      <th scope="col" class="py-3 px-6 text-center">
                        11
                      </th>
                      <th scope="col" class="py-3 px-6 text-center">
                        12
                      </th>
                      <th scope="col" class="py-3 px-6 text-center">
                        13
                      </th>
                      <th scope="col" class="py-3 px-6 text-center">
                        14
                      </th>
                      <th scope="col" class="py-3 px-6 text-center">
                        2258 jiwa
                      </th>
                      <th scope="col" class="py-3 px-6 text-center">
                        Rp.1,294,000,000
                      </th>
                    </tr>
                  </tfoot>
                </table>
                <nav class="flex justify-between items-center my-2 mx-2" aria-label="Table navigation">
                  <span class="text-sm font-normal text-gray-500 dark:text-gray-400">Showing <span class="font-semibold text-gray-900 dark:text-white">1-10</span> of <span class="font-semibold text-gray-900 dark:text-white">1000</span></span>
                  <ul class="inline-flex items-center -space-x-px">
                      <li>
                          <a href="#" class="block py-2 px-3 ml-0 leading-tight text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                              <span class="sr-only">Previous</span>
                              <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                          </a>
                      </li>
                      <li>
                          <a href="#" class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">1</a>
                      </li>
                      <li>
                          <a href="#" class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">2</a>
                      </li>
                      <li>
                          <a href="#" aria-current="page" class="z-10 py-2 px-3 leading-tight text-blue-600 bg-blue-50 border border-blue-300 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">3</a>
                      </li>
                      <li>
                          <a href="#" class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">...</a>
                      </li>
                      <li>
                          <a href="#" class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">100</a>
                      </li>
                      <li>
                          <a href="#" class="block py-2 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                              <span class="sr-only">Next</span>
                              <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                          </a>
                      </li>
                  </ul>
              </nav>
              </div>
            </div>
          </div>
          </div>
        <div id="detail" class="hide">
          <div>
            <div class="flex-flex-warp">
              <nav class="flex" aria-label="Breadcrumb">
                <ol class="inline-flex items-center space-x-1 md:space-x-3">
                  <li class="inline-flex items-center">
                    <a href="#" @click="ShowContent()" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">
                      <svg class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
                      Dashboard Analitik
                    </a>
                  </li>
                  <li>
                    <div class="flex items-center">
                      <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                      <a href="#" class="ml-1 text-sm font-medium text-gray-700 hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white">Data Penerima Bantuan</a>
                    </div>
                  </li>
                </ol>
              </nav>
            </div>
            <div class="flex flex-warp">
              <div class="w-full xl:w-6/12 mb-12 xl:mb-0 px-4">
                <h2 class="text-black text-xl font-semibold py-4">
                  Nama Program
                </h2>
                <div class="py-2">
                  <h2 class="text-lightBlue-400 text-xl font-semibold py-4">
                    Latar Belakang
                  </h2>
                  <h5>
                    SMK Bhakti kencana memiliki 204 siswa dan 21 pengajar. Saat ini ketersediaan komputer dan audio visual di SMK Bhakti Kencana khususnya untuk perpustakaan digital belum tersedia. SMK Bhakti kencana memiliki 204 siswa dan 21 pengajar. Saat ini ketersediaan komputer dan audio visual di SMK Bhakti Kencana khususnya untuk perpustakaan digital belum tersedia.
                  </h5>
                </div>
                <div class="py-2">
                  <h2 class="text-lightBlue-400 text-xl font-semibold py-4">
                    Deskripsi Bantuan
                  </h2>
                  <h5>
                    SMK Bhakti kencana memiliki 204 siswa dan 21 pengajar. Saat ini ketersediaan komputer dan audio visual di SMK Bhakti Kencana khususnya untuk perpustakaan digital belum tersedia.
                  </h5>
                  <h5>
                    SMK Bhakti kencana memiliki 204 siswa dan 21 pengajar. Saat ini ketersediaan komputer dan audio visual di SMK Bhakti Kencana khususnya untuk perpustakaan digital belum tersedia.
                  </h5>
                </div>
              </div>
              <div class="w-full xl:w-6/12 mb-12 xl:mb-0 px-4">
                <div class="flex flex-warp pl-auto px-20">
                  <div class="w-full xl:w-6/12 mb-12 xl:mb-0 mx-auto">            
                    <h2 class="text-black text-md font-semibold py-4">
                      Lokasi Bantuan <span><i class="fa fa-home text-lightBlue-400" aria-hidden="true"></i></span>
                    </h2>
                    <p class="text-xs">RT 006/RW 016 Kelurahan Kayuringin Jaya</p>
                    <p class="text-xs">Kecamatan Bekasi Selatan</p>
                    <p class="text-xs">Kota Bekasi Jawa Barat</p>
                  </div>
                  <div class="w-full xl:w-6/12 mb-12 xl:mb-0 mx-auto">
                    <h2 class="text-black text-md font-semibold py-4">
                      Koordinat Bantuan <span><i class="fa fa-map-marker text-lightBlue-400" aria-hidden="true"></i></span>
                    </h2>
                    <p class="text-xs">S 7'2.3'5.4.4.9.2'</p>
                    <p class="text-xs">E 10B367195732</p>
                    <p class="text-xs">(Sumber : Google Map)</p>
                  </div>
                </div>
                <div class="py-8">
                  <img src="https://cloud.jpnn.com/photo/arsip/normal/2022/03/13/bri-berkomitmen-dalam-menyalurkan-bantuan-tanggung-jawab-sos-suw5.jpg" alt="">
                  <p class="text-sm text-lightBlue-400">(Penyerahan Bantuan TJSL)</p>
                </div>
              </div>
            </div>
            <h2 class="text-lightBlue-400 text-xl font-semibold px-4">
              Testimoni
            </h2>
            <div class="flex flex-warp">
              <div class="w-full xl:w-6/12 mb-12 xl:mb-0 px-4">
                <div class="py-2">
                  <p>
                    <span class="testimoni mx-0 text-lightBlue-400">"</span> SMK Bhakti kencana memiliki 204 siswa dan 21 pengajar. Saat ini ketersediaan komputer dan audio visual di SMK Bhakti Kencana khususnya untuk perpustakaan digital belum tersedia. SMK Bhakti kencana memiliki 204 siswa dan 21 pengajar. Saat ini ketersediaan komputer dan audio visual di SMK Bhakti Kencana khususnya untuk perpustakaan digital belum tersedia.
                  </p>
                  <p class="text-sm text-lightBlue-400">(Suhaya, Kepala Sekolah SMK Bhakti Kencana)</p>
                </div>
              </div>
              <div class="w-full xl:w-6/12 mb-12 xl:mb-0 px-4">
                <div class="py-2">
                  <p>
                    <span class="testimoni mx-0 text-lightBlue-400">"</span> SMK Bhakti kencana memiliki 204 siswa dan 21 pengajar. Saat ini ketersediaan komputer dan audio visual di SMK Bhakti Kencana khususnya untuk perpustakaan digital belum tersedia. SMK Bhakti kencana memiliki 204 siswa dan 21 pengajar. Saat ini ketersediaan komputer dan audio visual di SMK Bhakti Kencana khususnya untuk perpustakaan digital belum tersedia.
                  </p>
                  <p class="text-sm text-lightBlue-400">(Suhaya, Kepala Sekolah SMK Bhakti Kencana)</p>
                </div>
              </div>
            </div>
            <div class="flex flex-wrap">
              <div class="w-full xl:w-12/12 mb-12 xl:mb-0 px-4 py-4">
                <h2 class="text-lightBlue-400 text-xl font-semibold">
                  Pengukuran Program
                </h2>
                <h2 class="text-black text-md font-semibold py-4">
                  Bantuan Berupa :
                </h2>
              </div>
              <div class="w-full xl:w-2/12 mb-12 xl:mb-0 px-4 py-4 text-center">
                <i class="fa fa-desktop fa-5x text-lightBlue-400 py-2" aria-hidden="true"></i>
                <p class="text-lightBlue-400">Komputer</p>
                <p class="text-lightBlue-400">4 buah</p>
              </div>
              <div class="w-full xl:w-2/12 mb-12 xl:mb-0 px-4 py-4 text-center">
                <i class="fa fa-volume-up fa-5x text-lightBlue-400 py-2" aria-hidden="true"></i>
                <p class="text-lightBlue-400">Perangkat Audio</p>
                <p class="text-lightBlue-400">1 set</p>
              </div>
              <div class="w-full xl:w-2/12 mb-12 xl:mb-0 px-4 py-4 text-center">
                <i class="fa fa-book fa-5x text-lightBlue-400 py-2" aria-hidden="true"></i>
                <p class="text-lightBlue-400">Perpustakaan</p>
                <p class="text-lightBlue-400">1 buah</p>
              </div>
            </div>
            <div class="w-full xl:w-12/12 mb-12 xl:mb-0 px-4">
              <h2 class="text-lightBlue-400 text-xl font-semibold pt-8">
                Dokumentasi
              </h2>
              <h2 class="text-black text-sm font-semibold pt-4">
                Foto sebelum mendapatkan bantuan
              </h2>
            </div>
            <div class="flex flex-warp">
              <div class="w-full xl:w-6/12 mb-12 xl:mb-0 px-4">
                <div class="py-8">
                  <img src="https://cloud.jpnn.com/photo/arsip/normal/2022/03/13/bri-berkomitmen-dalam-menyalurkan-bantuan-tanggung-jawab-sos-suw5.jpg" alt="">
                  <p class="text-sm text-lightBlue-400">(Penyerahan Bantuan TJSL)</p>
                </div>
              </div>
              <div class="w-full xl:w-6/12 mb-12 xl:mb-0 px-4">
                <div class="py-8">
                  <img src="https://cloud.jpnn.com/photo/arsip/normal/2022/03/13/bri-berkomitmen-dalam-menyalurkan-bantuan-tanggung-jawab-sos-suw5.jpg" alt="">
                  <p class="text-sm text-lightBlue-400">(Penyerahan Bantuan TJSL)</p>
                </div>
              </div>
            </div>
            <div class="w-full xl:w-12/12 mb-12 xl:mb-0 px-4">
              <h2 class="text-lightBlue-400 text-xl font-semibold pt-8">
                Dokumentasi
              </h2>
              <h2 class="text-black text-sm font-semibold pt-4">
                Foto sesudah mendapatkan bantuan
              </h2>
            </div>
            <div class="flex flex-warp">
              <div class="w-full xl:w-6/12 mb-12 xl:mb-0 px-4">
                <div class="py-8">
                  <img src="https://cloud.jpnn.com/photo/arsip/normal/2022/03/13/bri-berkomitmen-dalam-menyalurkan-bantuan-tanggung-jawab-sos-suw5.jpg" alt="">
                  <p class="text-sm text-lightBlue-400">(Penyerahan Bantuan TJSL)</p>
                </div>
              </div>
              <div class="w-full xl:w-6/12 mb-12 xl:mb-0 px-4">
                <div class="py-8">
                  <img src="https://cloud.jpnn.com/photo/arsip/normal/2022/03/13/bri-berkomitmen-dalam-menyalurkan-bantuan-tanggung-jawab-sos-suw5.jpg" alt="">
                  <p class="text-sm text-lightBlue-400">(Penyerahan Bantuan TJSL)</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="hidden p-4 bg-gray-50 rounded-lg dark:bg-gray-800" id="data-penerima-manfaat" role="tabpanel" aria-labelledby="data-penerima-manfaat-tab">
        <div>
          <div class="flex flex-warp">
            <div class="w-full xl:w-6/12 mb-12 xl:mb-0 px-4">
              <h2 class="text-black text-xl font-semibold py-4">
                Nama Program
              </h2>
              <div class="py-2">
                <h2 class="text-lightBlue-400 text-xl font-semibold py-4">
                  Latar Belakang
                </h2>
                <h5>
                  SMK Bhakti kencana memiliki 204 siswa dan 21 pengajar. Saat ini ketersediaan komputer dan audio visual di SMK Bhakti Kencana khususnya untuk perpustakaan digital belum tersedia. SMK Bhakti kencana memiliki 204 siswa dan 21 pengajar. Saat ini ketersediaan komputer dan audio visual di SMK Bhakti Kencana khususnya untuk perpustakaan digital belum tersedia.
                </h5>
              </div>
              <div class="py-2">
                <h2 class="text-lightBlue-400 text-xl font-semibold py-4">
                  Deskripsi Bantuan
                </h2>
                <h5>
                  SMK Bhakti kencana memiliki 204 siswa dan 21 pengajar. Saat ini ketersediaan komputer dan audio visual di SMK Bhakti Kencana khususnya untuk perpustakaan digital belum tersedia.
                </h5>
                <h5>
                  SMK Bhakti kencana memiliki 204 siswa dan 21 pengajar. Saat ini ketersediaan komputer dan audio visual di SMK Bhakti Kencana khususnya untuk perpustakaan digital belum tersedia.
                </h5>
              </div>
            </div>
            <div class="w-full xl:w-6/12 mb-12 xl:mb-0 px-4">
              <div class="flex flex-warp pl-auto px-20">
                <div class="w-full xl:w-6/12 mb-12 xl:mb-0 mx-auto">            
                  <h2 class="text-black text-md font-semibold py-4">
                    Lokasi Bantuan <span><i class="fa fa-home text-lightBlue-400" aria-hidden="true"></i></span>
                  </h2>
                  <p class="text-xs">RT 006/RW 016 Kelurahan Kayuringin Jaya</p>
                  <p class="text-xs">Kecamatan Bekasi Selatan</p>
                  <p class="text-xs">Kota Bekasi Jawa Barat</p>
                </div>
                <div class="w-full xl:w-6/12 mb-12 xl:mb-0 mx-auto">
                  <h2 class="text-black text-md font-semibold py-4">
                    Koordinat Bantuan <span><i class="fa fa-map-marker text-lightBlue-400" aria-hidden="true"></i></span>
                  </h2>
                  <p class="text-xs">S 7'2.3'5.4.4.9.2'</p>
                  <p class="text-xs">E 10B367195732</p>
                  <p class="text-xs">(Sumber : Google Map)</p>
                </div>
              </div>
              <div class="py-8">
                <img src="https://cloud.jpnn.com/photo/arsip/normal/2022/03/13/bri-berkomitmen-dalam-menyalurkan-bantuan-tanggung-jawab-sos-suw5.jpg" alt="">
                <p class="text-sm text-lightBlue-400">(Penyerahan Bantuan TJSL)</p>
              </div>
            </div>
          </div>
          <h2 class="text-lightBlue-400 text-xl font-semibold px-4">
            Testimoni
          </h2>
          <div class="flex flex-warp">
            <div class="w-full xl:w-6/12 mb-12 xl:mb-0 px-4">
              <div class="py-2">
                <p>
                  <span class="testimoni mx-0 text-lightBlue-400">"</span> SMK Bhakti kencana memiliki 204 siswa dan 21 pengajar. Saat ini ketersediaan komputer dan audio visual di SMK Bhakti Kencana khususnya untuk perpustakaan digital belum tersedia. SMK Bhakti kencana memiliki 204 siswa dan 21 pengajar. Saat ini ketersediaan komputer dan audio visual di SMK Bhakti Kencana khususnya untuk perpustakaan digital belum tersedia.
                </p>
                <p class="text-sm text-lightBlue-400">(Suhaya, Kepala Sekolah SMK Bhakti Kencana)</p>
              </div>
            </div>
            <div class="w-full xl:w-6/12 mb-12 xl:mb-0 px-4">
              <div class="py-2">
                <p>
                  <span class="testimoni mx-0 text-lightBlue-400">"</span> SMK Bhakti kencana memiliki 204 siswa dan 21 pengajar. Saat ini ketersediaan komputer dan audio visual di SMK Bhakti Kencana khususnya untuk perpustakaan digital belum tersedia. SMK Bhakti kencana memiliki 204 siswa dan 21 pengajar. Saat ini ketersediaan komputer dan audio visual di SMK Bhakti Kencana khususnya untuk perpustakaan digital belum tersedia.
                </p>
                <p class="text-sm text-lightBlue-400">(Suhaya, Kepala Sekolah SMK Bhakti Kencana)</p>
              </div>
            </div>
          </div>
          <div class="flex flex-wrap">
            <div class="w-full xl:w-12/12 mb-12 xl:mb-0 px-4 py-4">
              <h2 class="text-lightBlue-400 text-xl font-semibold">
                Pengukuran Program
              </h2>
              <h2 class="text-black text-md font-semibold py-4">
                Bantuan Berupa :
              </h2>
            </div>
            <div class="w-full xl:w-2/12 mb-12 xl:mb-0 px-4 py-4 text-center">
              <i class="fa fa-desktop fa-5x text-lightBlue-400 py-2" aria-hidden="true"></i>
              <p class="text-lightBlue-400">Komputer</p>
              <p class="text-lightBlue-400">4 buah</p>
            </div>
            <div class="w-full xl:w-2/12 mb-12 xl:mb-0 px-4 py-4 text-center">
              <i class="fa fa-volume-up fa-5x text-lightBlue-400 py-2" aria-hidden="true"></i>
              <p class="text-lightBlue-400">Perangkat Audio</p>
              <p class="text-lightBlue-400">1 set</p>
            </div>
            <div class="w-full xl:w-2/12 mb-12 xl:mb-0 px-4 py-4 text-center">
              <i class="fa fa-book fa-5x text-lightBlue-400 py-2" aria-hidden="true"></i>
              <p class="text-lightBlue-400">Perpustakaan</p>
              <p class="text-lightBlue-400">1 buah</p>
            </div>
          </div>
          <div class="w-full xl:w-12/12 mb-12 xl:mb-0 px-4">
            <h2 class="text-lightBlue-400 text-xl font-semibold pt-8">
              Dokumentasi
            </h2>
            <h2 class="text-black text-sm font-semibold pt-4">
              Foto sebelum mendapatkan bantuan
            </h2>
          </div>
          <div class="flex flex-warp">
            <div class="w-full xl:w-6/12 mb-12 xl:mb-0 px-4">
              <div class="py-8">
                <img src="https://cloud.jpnn.com/photo/arsip/normal/2022/03/13/bri-berkomitmen-dalam-menyalurkan-bantuan-tanggung-jawab-sos-suw5.jpg" alt="">
                <p class="text-sm text-lightBlue-400">(Penyerahan Bantuan TJSL)</p>
              </div>
            </div>
            <div class="w-full xl:w-6/12 mb-12 xl:mb-0 px-4">
              <div class="py-8">
                <img src="https://cloud.jpnn.com/photo/arsip/normal/2022/03/13/bri-berkomitmen-dalam-menyalurkan-bantuan-tanggung-jawab-sos-suw5.jpg" alt="">
                <p class="text-sm text-lightBlue-400">(Penyerahan Bantuan TJSL)</p>
              </div>
            </div>
          </div>
          <div class="w-full xl:w-12/12 mb-12 xl:mb-0 px-4">
            <h2 class="text-lightBlue-400 text-xl font-semibold pt-8">
              Dokumentasi
            </h2>
            <h2 class="text-black text-sm font-semibold pt-4">
              Foto sesudah mendapatkan bantuan
            </h2>
          </div>
          <div class="flex flex-warp">
            <div class="w-full xl:w-6/12 mb-12 xl:mb-0 px-4">
              <div class="py-8">
                <img src="https://cloud.jpnn.com/photo/arsip/normal/2022/03/13/bri-berkomitmen-dalam-menyalurkan-bantuan-tanggung-jawab-sos-suw5.jpg" alt="">
                <p class="text-sm text-lightBlue-400">(Penyerahan Bantuan TJSL)</p>
              </div>
            </div>
            <div class="w-full xl:w-6/12 mb-12 xl:mb-0 px-4">
              <div class="py-8">
                <img src="https://cloud.jpnn.com/photo/arsip/normal/2022/03/13/bri-berkomitmen-dalam-menyalurkan-bantuan-tanggung-jawab-sos-suw5.jpg" alt="">
                <p class="text-sm text-lightBlue-400">(Penyerahan Bantuan TJSL)</p>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</template>
<script>

import image from "@/assets/img/country.png";
import Sdgs from "@/components/Chart/Sdgs.vue";
import DasborAnalitikChart from "@/components/Chart/DasborAnalitikChart.vue";
import DasborAnalitikIconChart from '@/components/Chart/DasborAnalitikIconChart.vue';
export default {
  name: "data-page",
  components: {
    Sdgs,
    DasborAnalitikChart,
    DasborAnalitikIconChart,
  },
  data(){
    return{
      image: image,
    }
  },
  methods:{
    async ShowDetail() {
      var content = document.getElementById("content");
      var detail = document.getElementById("detail");
      content.classList.remove("flex");
      content.classList.add("hide");

      detail.classList.remove("hide");
      detail.classList.add("flex");
    },
    ShowContent() {
      var content = document.getElementById("content");
      content.classList.add("flex");
      content.classList.remove("hide");
      var detail = document.getElementById("detail");
      detail.classList.add("hide");
      detail.classList.remove("flex");
    }
  }
};
</script>
<style>
  .testimoni{
    float: left;
    font-size: 45px;
    line-height: 1;
    font-weight: bold;
    margin-right: 2px;
  }
  .desc{
    background-color: rgb(219, 60, 60);    
  }
  .hide{
    display: none;
  }
</style>
