<template>
  <div>
    <div class="flex flex-wrap" style="margin-top:180px">
      <div class="w-full xl:w-1/5 mb-12 xl:mb-0 px-4 py-2">
        <div class="bg-indigo-300">
          <a href="/admin/sdgs/data">
            <img class="indikator-image object-cover  w-96 ..." src="https://sdgs.bappenas.go.id/wp-content/uploads/2017/08/logo-sdgs-01.jpg">
          </a>
        </div>
      </div>
      <div class="w-full xl:w-1/5 mb-12 xl:mb-0 px-4 py-2">
        <div class="bg-indigo-300">
          <a href="/admin/sdgs/data">
            <img class="indikator-image object-cover  w-96 ..." src="https://sdgs.bappenas.go.id/wp-content/uploads/2017/08/logo-sdgs-02.jpg">
          </a>
        </div>
      </div>
      <div class="w-full xl:w-1/5 mb-12 xl:mb-0 px-4 py-2">
        <div class="bg-indigo-300">
          <a href="/admin/sdgs/data">
            <img class="indikator-image object-cover  w-96 ..." src="https://sdgs.bappenas.go.id/wp-content/uploads/2017/08/logo-sdgs-03.jpg">
          </a>
        </div>
      </div>
      <div class="w-full xl:w-1/5 mb-12 xl:mb-0 px-4 py-2">
        <div class="bg-indigo-300">
          <a href="/admin/sdgs/data">
            <img class="indikator-image object-cover  w-96 ..." src="https://sdgs.bappenas.go.id/wp-content/uploads/2017/08/logo-sdgs-04.jpg">
          </a>
        </div>
      </div>
      <div class="w-full xl:w-1/5 mb-12 xl:mb-0 px-4 py-2">
        <div class="bg-indigo-300">
          <a href="#">
            <img class="image-disable object-cover  w-96 ..." src="https://sdgs.bappenas.go.id/wp-content/uploads/2017/08/logo-sdgs-05.jpg">
          </a>
        </div>
      </div>
      <div class="w-full xl:w-1/5 mb-12 xl:mb-0 px-4 py-2">
        <div class="bg-indigo-300">
          <a href="/admin/sdgs/data">
            <img class="indikator-image object-cover  w-96 ..." src="https://sdgs.bappenas.go.id/wp-content/uploads/2017/08/logo-sdgs-06.jpg">
          </a>
        </div>
      </div>
      <div class="w-full xl:w-1/5 mb-12 xl:mb-0 px-4 py-2">
        <div class="bg-indigo-300">
          <a href="/admin/sdgs/data">
            <img class="indikator-image object-cover  w-96 ..." src="https://sdgs.bappenas.go.id/wp-content/uploads/2017/08/logo-sdgs-07.jpg">
          </a>
        </div>
      </div>
      <div class="w-full xl:w-1/5 mb-12 xl:mb-0 px-4 py-2">
        <div class="bg-indigo-300">
          <a href="/admin/sdgs/data">
            <img class="indikator-image object-cover  w-96 ..." src="https://sdgs.bappenas.go.id/wp-content/uploads/2017/08/logo-sdgs-08.jpg">
          </a>
        </div>
      </div>
      <div class="w-full xl:w-1/5 mb-12 xl:mb-0 px-4 py-2">
        <div class="bg-indigo-300">
          <a href="/admin/sdgs/data">
            <img class="indikator-image object-cover  w-96 ..." src="https://sdgs.bappenas.go.id/wp-content/uploads/2017/08/logo-sdgs-09.jpg">
          </a>
        </div>
      </div>
      <div class="w-full xl:w-1/5 mb-12 xl:mb-0 px-4 py-2">
        <div class="bg-indigo-300">
          <a href="/admin/sdgs/data">
            <img class="indikator-image object-cover  w-96 ..." src="https://sdgs.bappenas.go.id/wp-content/uploads/2017/08/logo-sdgs-10.jpg">
          </a>
        </div>
      </div>
      <div class="w-full xl:w-1/5 mb-12 xl:mb-0 px-4 py-2">
        <div class="bg-indigo-300">
          <a href="/admin/sdgs/data">
            <img class="indikator-image object-cover  w-96 ..." src="https://sdgs.bappenas.go.id/wp-content/uploads/2017/08/logo-sdgs-11.jpg">
          </a>
        </div>
      </div>
      <div class="w-full xl:w-1/5 mb-12 xl:mb-0 px-4 py-2">
        <div class="bg-indigo-300">
          <a href="/admin/sdgs/data">
            <img class="indikator-image object-cover  w-96 ..." src="https://sdgs.bappenas.go.id/wp-content/uploads/2017/08/logo-sdgs-12.jpg">
          </a>
        </div>
      </div>
      <div class="w-full xl:w-1/5 mb-12 xl:mb-0 px-4 py-2">
        <div class="bg-indigo-300">
          <a href="#">
            <img class="image-disable object-cover  w-96 ..." src="https://sdgs.bappenas.go.id/wp-content/uploads/2017/08/logo-sdgs-13.jpg">
          </a>
        </div>
      </div>
      <div class="w-full xl:w-1/5 mb-12 xl:mb-0 px-4 py-2">
        <div class="bg-indigo-300">
          <a href="/admin/sdgs/data">
            <img class="indikator-image object-cover  w-96 ..." src="https://sdgs.bappenas.go.id/wp-content/uploads/2017/08/logo-sdgs-14.jpg">
          </a>
        </div>
      </div>
      <div class="w-full xl:w-1/5 mb-12 xl:mb-0 px-4 py-2">
        <div class="bg-indigo-300">
          <a href="/admin/sdgs/data">
            <img class="indikator-image object-cover  w-96 ..." src="https://sdgs.bappenas.go.id/wp-content/uploads/2017/08/logo-sdgs-15.jpg">
          </a>
        </div>
      </div>
      <div class="w-full xl:w-1/5 mb-12 xl:mb-0 px-4 py-2">
        <div class="bg-indigo-300">
          <a href="/admin/sdgs/data">
            <img class="indikator-image object-cover  w-96 ..." src="https://sdgs.bappenas.go.id/wp-content/uploads/2017/08/logo-sdgs-16.jpg">
          </a>
        </div>
      </div>
      <div class="w-full xl:w-1/5 mb-12 xl:mb-0 px-4 py-2">
        <div class="bg-indigo-300">
          <a href="/admin/sdgs/data">
            <img class="indikator-image object-cover  w-96 ..." src="https://sdgs.bappenas.go.id/wp-content/uploads/2017/08/logo-sdgs-17.jpg">
          </a>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "dashboard-page",
  components: {
  },
  data(){
    return{
      indikator:{
        
      }
    }
  }
};
</script>
<style>
  .indikator-image:hover{
    filter:brightness(110%);
  }
  .image-disable{
    filter: grayscale(100%);
  }
</style>
