<template>
  <div>
    <div class="flex flex-wrap">
      <div class="w-full xl:w-12/12 mb-12 xl:mb-0 px-4">
        <div class="flex flex-wrap pb-6">
          <div class="w-full xl:w-4/12 mb-12 xl:mb-0">
            <h2 class="text-black text-xl font-semibold py-1">
              Year
            </h2>
            <select class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-1 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
              <option>Recent</option>
              <option>2015</option>
              <option>2016</option>
              <option>2017</option>
              <option>2018</option>
              <option>2019</option>
              <option>2020</option>
              <option>2021</option>
              <option>2022</option>
            </select>
          </div>
          <div class="w-full xl:w-4/12 mb-12 xl:mb-0 px-4">
            <h2 class="text-black text-xl font-semibold py-1">
              Location
            </h2>
            <select class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-1 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
              <option>Indonesia</option>
              <option>Sumatra</option>
              <option>Jawa</option>
              <option>Kalimantan</option>
              <option>Bali</option>
              <option>Sulawesi</option>
              <option>Papua</option>
              <option>Maluku</option>
              <option>NTB</option>
              <option>NTT</option>
            </select>
          </div>
          <div class="w-full xl:w-4/12 mb-12 xl:mb-0 px-4">
            <h2 class="text-black text-xl font-semibold py-1">
              Jenis Grafik
            </h2>
            <select class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-1 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
              <option>Diskrit</option>
              <option>Akumulasi</option>
            </select>
          </div>
        </div>
      </div>
      <div class="w-full xl:w-8/12 mb-12 xl:mb-0 px-4">
        <salur />
      </div>
      <div class="w-full xl:w-4/12 mb-12 xl:mb-0 px-4">
        <kategori-produk />
      </div>
      <div class="w-full xl:w-6/12 px-4 py-4">
        <gender />
      </div>
      <div class="w-full xl:w-6/12 px-4 py-4">
        <kategori-usaha />
      </div>
      <div class="w-full xl:w-6/12 px-4 py-4">
        <rentan-usia />
      </div>
      <div class="w-full xl:w-6/12 px-4 py-4">
        <pendidikan />
      </div>
      <div class="w-full xl:w-6/12 px-4 py-4">
        <klaster />
      </div>
      <div class="w-full xl:w-6/12 px-4 py-4">
        <sektor />
      </div>
      <div class="w-full xl:w-12/12 px-4 py-4">
        <div class="relative flex flex-col min-w-0 break-words bg-white w-full shadow-lg rounded">
          <img class="w-full" :src="jabar" alt="">
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Salur from "@/components/Chart/Salur.vue";
import KategoriProduk from '@/components/Chart/KategoriProduk.vue';
import Gender from "@/components/Chart/Gender.vue";
import RentanUsia from "@/components/Chart/RentanUsia.vue";
import Pendidikan from "@/components/Chart/Pendidikan.vue";
import KategoriUsaha from '@/components/Chart/KategoriUsaha.vue';
import Klaster from '@/components/Chart/Klaster.vue';
import Sektor from '@/components/Chart/Sektor.vue';
import jabar from "@/assets/img/jabar.png";

export default {
  name: "dashboard-page",
  components: {
    Salur,
    Gender,
    RentanUsia,
    Pendidikan,
    KategoriUsaha,
    KategoriProduk,
    Klaster,
    Sektor,
  },
  data(){
    return{
      jabar,
    }
  }
};
</script>
