<template>
  <div>
    <!-- data-drawer-target="drawer-navigation" data-drawer-show="drawer-navigation" aria-controls="drawer-navigation" -->
<!-- drawer init and show -->
      <div class="fixed z-40 w-20 h-full p-4 overflow-y-auto bg-white dark:bg-gray-800 hover:bg-gray-200" type="div" data-drawer-target="drawer-navigation" data-drawer-show="drawer-navigation" aria-controls="drawer-navigation">

        <div class="py-4 overflow-y-auto text-center">
          <img class="w-8 ml-auto mr-auto" :src="sdgs" alt="">
        </div>

        <div class="py-4 overflow-y-auto text-center">
          <button>
            <p class="text-sm font-semibold text-gray-500 uppercase dark:text-gray-400">Admin</p>
          </button>
        </div>
        
        <div class="py-4 overflow-y-auto text-center">
          <ul class="space-y-2">
            <li>
              <button class="text-gray-500 hover:text-emerald-600 bg-transparent bg-transparent rounded-lg text-lg inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white p-2.5">
                <i class="fas fa-tv p-auto"></i>
              </button>
            </li>
            <!-- <li>
              <button class="text-gray-500 hover:text-emerald-600 bg-transparent bg-transparent rounded-lg text-lg inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white p-2.5">
                <i class="fas fa-chart-bar"></i>
              </button>
            </li> -->
          </ul>
        </div>

        <div class="py-4 overflow-y-auto text-center absolute m-auto bottom-0" style="margin-left:10px">
            <button class="text-gray-500 hover:text-emerald-600 bg-transparent bg-transparent rounded-lg text-lg inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white left-0.5 p-2.5">
              <i class="fas fa-chevron-right"></i>
            </button>
        </div>
      </div>

<!-- drawer component -->
    <div id="drawer-navigation" class="fixed z-40 h-full p-4 overflow-y-auto bg-white w-80 dark:bg-gray-800" tabindex="-1" aria-labelledby="drawer-navigation-label">
      <div class="py-4 mb-8 overflow-y-auto text-center">
        <h5 class="text-base font-semibold text-gray-500 uppercase dark:text-gray-400 hover:text-emerald-600">
          <a href="/dashboard">
            TJSL Dashboard
          </a> 
        </h5>
      </div>
      <h5 id="drawer-navigation-label" class="text-base font-semibold text-gray-500 uppercase dark:text-gray-400">Admin</h5>
      <button type="button" data-drawer-dismiss="drawer-navigation" aria-controls="drawer-navigation" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 right-2.5 inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white">
          <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
          <span class="sr-only">Close menu</span>
      </button>
      <div class="py-4 overflow-y-auto">
          <div id="accordion-open" data-accordion="closed">
            <h2 id="accordion-open-heading-1">
              <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500  rounded-t-xl focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800" data-accordion-target="#accordion-open-body-1" aria-expanded="true" aria-controls="accordion-open-body-1">
                <span class="flex items-center">
                  <i class="fas fa-tv mr-2"></i> Data Collection Center
                </span>
                <svg data-accordion-icon class="w-6 h-6 rotate-180 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
              </button>
            </h2>

            <div id="accordion-open-body-1" class="hidden" aria-labelledby="accordion-open-heading-1">
              <div class="py-5 px-2 text-white my-1 rounded-lg text-md font-semibold border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900" style="background-color:#E91C2D">
                <a href="/admin/sdgs/data">
                  <span class="flex items-center">
                    &nbsp;&nbsp;
                    <img src="@/assets/img/tpb-icon-png/1.png" class="w-5 mx-4" alt=""> 1. Tanpa Kemiskinan
                  </span>
                </a>
              </div>
              <div class="py-5 px-2 text-white my-1 rounded-lg text-md font-semibold border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900" style="background-color:#D09F2A">
                <a href="/admin/sdgs/data">
                  <span class="flex items-center">
                    &nbsp;&nbsp;
                    <img src="@/assets/img/tpb-icon-png/2.png" class="w-5 mx-4" alt=""> 2. Tanpa Kelaparan
                  </span>
                </a>
              </div>
              <div class="py-5 px-2 text-white my-1 rounded-lg text-md font-semibold border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900" style="background-color:#2D9A47">
                <a href="/admin/sdgs/data">
                  <span class="flex items-center">
                    &nbsp;&nbsp;
                    <img src="@/assets/img/tpb-icon-png/3.png" class="w-5 mx-4" alt=""> 3. Kehidupan Sehat dan Sejahtera
                  </span>
                </a>
              </div>
              <div class="py-5 px-2 text-white my-1 rounded-lg text-md font-semibold border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900" style="background-color:#C12033">
                <a href="/admin/sdgs/data">
                  <span class="flex items-center">
                    &nbsp;&nbsp;
                    <img src="@/assets/img/tpb-icon-png/4.png" class="w-5 mx-4" alt=""> 4. Pendidikan Berkualitas
                  </span>
                </a>
              </div>
              <div class="py-5 px-2 text-white my-1 rounded-lg text-md font-semibold border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900" style="background-color:#EE412A">
                <a href="/admin/sdgs/data">
                  <span class="flex items-center">
                    &nbsp;&nbsp;
                    <img src="@/assets/img/tpb-icon-png/5.png" class="w-5 mx-4" alt=""> 5. Kesetaraan Gender
                  </span>
                </a>
              </div>
              <div class="py-5 px-2 text-white my-1 rounded-lg text-md font-semibold border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900" style="background-color:#00add8">
                <a href="/admin/sdgs/data">
                  <span class="flex items-center">
                    &nbsp;&nbsp;
                    <img src="@/assets/img/tpb-icon-png/6.png" class="w-5 mx-4" alt=""> 6. Air Bersih dan Sanitasi Layak
                  </span>
                </a>
              </div>
              <div class="py-5 px-2 text-white my-1 rounded-lg text-md font-semibold border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900" style="background-color:#fcb714">
                <a href="/admin/sdgs/data">
                  <span class="flex items-center">
                    &nbsp;&nbsp;
                    <img src="@/assets/img/tpb-icon-png/7.png" class="w-5 mx-4" alt=""> 7. Energi Bersih dan Terjangkau
                  </span>
                </a>
              </div>
              <div class="py-5 px-2 text-white my-1 rounded-lg text-md font-semibold border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900" style="background-color:#8f1838">
                <a href="/admin/sdgs/tpb8">
                  <span class="flex items-center">
                    &nbsp;&nbsp;
                    <img src="@/assets/img/tpb-icon-png/8.png" class="w-5 mx-4" alt=""> 8. Pekerjaan Layak dan Pertumbuhan Ekonomi
                  </span>
                </a>
              </div>
              <div class="py-5 px-2 text-white my-1 rounded-lg text-md font-semibold border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900" style="background-color:#f26e24">
                <a href="/admin/sdgs/data">
                  <span class="flex items-center">
                    &nbsp;&nbsp;
                    <img src="@/assets/img/tpb-icon-png/9.png" class="w-5 mx-4" alt=""> 9. Industri, Inovasi, dan Infrastruktur
                  </span>
                </a>
              </div>
              <div class="py-5 px-2 text-white my-1 rounded-lg text-md font-semibold border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900" style="background-color:#df1a83">
                <a href="/admin/sdgs/data">
                  <span class="flex items-center">
                    &nbsp;&nbsp;
                    <img src="@/assets/img/tpb-icon-png/10.png" class="w-5 mx-4" alt=""> 10. Berkurangnya Kesenjangan
                  </span>
                </a>
              </div>
              <div class="py-5 px-2 text-white my-1 rounded-lg text-md font-semibold border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900" style="background-color:#f89d25">
                <a href="/admin/sdgs/data">
                  <span class="flex items-center">
                    &nbsp;&nbsp;
                    <img src="@/assets/img/tpb-icon-png/11.png" class="w-5 mx-4" alt=""> 11. Kota dan Pemukiman yang Berkelanjutan
                  </span>
                </a>
              </div>
              <div class="py-5 px-2 text-white my-1 rounded-lg text-md font-semibold border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900" style="background-color:#cc8b2a">
                <a href="/admin/sdgs/data">
                  <span class="flex items-center">
                    &nbsp;&nbsp;
                    <img src="@/assets/img/tpb-icon-png/12.png" class="w-5 mx-4" alt=""> 12. Konsumsi dan Produk yang Bertanggungjawab
                  </span>
                </a>
              </div>
              <div class="py-5 px-2 text-white my-1 rounded-lg text-md font-semibold border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900" style="background-color:#48773c">
                <a href="/admin/sdgs/data">
                  <span class="flex items-center">
                    &nbsp;&nbsp;
                    <img src="@/assets/img/tpb-icon-png/13.png" class="w-5 mx-4" alt=""> 13. Penanganan Perubahan Iklim
                  </span>
                </a>
              </div>
              <div class="py-5 px-2 text-white my-1 rounded-lg text-md font-semibold border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900" style="background-color:#007dbb">
                <a href="/admin/sdgs/data">
                  <span class="flex items-center">
                    &nbsp;&nbsp;
                    <img src="@/assets/img/tpb-icon-png/14.png" class="w-5 mx-4" alt=""> 14. Ekosistem Lautan
                  </span>
                </a>
              </div>
              <div class="py-5 px-2 text-white my-1 rounded-lg text-md font-semibold border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900" style="background-color:#40ae49">
                <a href="/admin/sdgs/data">
                  <span class="flex items-center">
                    &nbsp;&nbsp;
                    <img src="@/assets/img/tpb-icon-png/15.png" class="w-5 mx-4" alt=""> 15. Ekosistem Daratan
                  </span>
                </a>
              </div>
              <div class="py-5 px-2 text-white my-1 rounded-lg text-md font-semibold border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900" style="background-color:#00558a">
                <a href="/admin/sdgs/data">
                  <span class="flex items-center">
                    &nbsp;&nbsp;
                    <img src="@/assets/img/tpb-icon-png/16.png" class="w-5 mx-4" alt=""> 16. Perdamaian, Keadilan, dan Kelembagaan yang Tangguh
                  </span>
                </a>
              </div>
            </div>
          </div>
          <!-- <ul class="space-y-2">
            <li>
                <a href="/dashboard" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 hover:text-emerald-600 dark:hover:bg-gray-700">
                  <i class="fas fa-tv"></i>
                  <span class="ml-3">Data Collection Center</span>
                </a>
            </li>
            <li>
                <a href="/admin/salur" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 hover:text-emerald-600 dark:hover:bg-gray-700">
                  <i class="fas fa-chart-bar"></i>
                  <span class="ml-4">PK Penyaluran</span>
                </a>
            </li>
          </ul> -->
      </div>
      <!-- <div class="py-4 overflow-y-auto text-center absolute m-auto bottom-0" style="margin-left:10px">
        <button class="text-gray-500 hover:text-emerald-600 bg-transparent bg-transparent rounded-lg text-lg inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white left-0.5 p-2.5">
          <i class="fas fa-chevron-left"></i>
        </button>
      </div> -->
    </div>

  </div>
</template>

<script>
  
  import sdgs from "@/assets/img/sdgs.png";
  export default {
    data () {
      return {
        drawer: true,
        items: [
          { title: 'Home', icon: 'mdi-home-city' },
          { title: 'My Account', icon: 'mdi-account' },
          { title: 'Users', icon: 'mdi-account-group-outline' },
        ],
        mini: true,
        sdgs: sdgs,
      }
    },
  }
</script>