<template>
  <div class="flex flex-wrap">
    <sidebar />
    <header-stats />
    <div class="absolute w- left-100 right-2.5">
      <admin-navbar />
    </div>
    <div class="bg-transparent absolute" style="margin-top:120px; margin-left:100px; margin-right:20px">
      <router-view />
    </div>
  </div>
</template>
<script>
import AdminNavbar from "@/components/Navbars/AdminNavbar.vue";
import Sidebar from "@/components/Sidebar/SidebarNew.vue";
import HeaderStats from "@/components/Headers/HeaderStats.vue";
export default {
  name: "admin-layout",
  components: {
    Sidebar,
    HeaderStats,
    AdminNavbar
  },
};
</script>
